.settings
.svn
.project
*.map
*.scssc
.node-version
jeet/
normalize/
node_modules/
bower_components/

documentation/
dev/
dist/
assets/js/vendor/
assets/styles/libs/*
!assets/styles/libs/iconfont/
assets/styles/libs/iconfont/_icon-font.scss
!assets/styles/libs/iconfont/grunt-icontemplate.css
!assets/styles/libs/iconfont/gulp-icontemplate.css
