////
/// Home
/// @group Home
/// @author MS
////

main{
	display: flex;
	justify-content: center;
	align-items: center;
}

.input-wrap{
	padding: 10px;

	input{
		width: 300px;
	}
}

.table-wrap{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: toem(700px);
	height: toem(500px);
	background-color: #f15359;
	padding: 0 25px;
	border-radius: 15px;
	box-shadow: 2px 3px 32px 0px  #dc5365;
}

.table-body{
	width: toem(600px);
	height: toem(300px);
	background-color: #262a2d;
	overflow-y:scroll;
	border: 1px solid #262a2d;
}

.table-row{
	background-color: #438ef8;
	width: 100%;
	height: 40px;
	margin-bottom: 2px;
}