<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MSUIF Starter Project</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="" />
  <!-- Open Graph metatags -->
  <meta property="og:title" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="" />
  <meta property="og:url" content="" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="" />
  <!-- Stylesheets and polyfills -->
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="">
  <!-- Add brand color -->
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
</head>

<body class="">

  <!-- Header -->
  <header>
    <h1>homework bruh</h1>
  </header>
  <!-- /End of Header -->

  <!-- Content -->
  <main role="main">
    <div class="table-wrap"> 
     <!--Form con label (for = idinput)en vez de h2 input/num button -->
      <div class="input-section">
      <h2>Add an item</h2>
        <form>
          <label for="value">ID</label>
          <input type="number" name="numberinput" placeholder="Enter your number :)" id="value"></input>
          <input type="button" value="Add" class= "button" id="add-value"></input>
          <input type="button" value="Remove Selected Elements" class= "button" id="remove-selected-value"></input>
          <input type="button" value="Clear Elements" class= "button" id="clear-value"></input>
        </form>
      </div>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Element</th>
          </tr>
        </thead>
        <tbody id="tabla" class="tWrap">
          <tr>
          </tr>
        </tbody>
      </table>
    </div>
      <!-- vem search -->
      <!-- table -> thead ->tr/closintag-> tbody->tr->td/ class=car__form id=autoForm -->
  </main>

  <!-- /End of Content -->

  <!-- Footer -->
  <footer>
  </footer>
  <!-- /End of Footer -->

  <!-- Javascript files -->
  <!-- build:js:dist js/app.js -->
  <script type="text/javascript" src="./js/vendors/jquery.2.2.4.min.js"></script>
  
  <script src="./js/vendor/jquery.min.js"></script>
  
  <script src="./js/main.js"></script>
  <!-- /build -->
</body>
</html>
